@shanchui: #ffb11b;
@shanhuzhu: #F17C67;
@gray: rgba(120, 120, 120, 1);

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-ellipsis(@line:2) {
  text-overflow: ellipsis;

  overflow: hidden;

  display: -webkit-box;

  -webkit-line-clamp: @line; /*这个数字是设置要显示省略号的行数*/

  -webkit-box-orient: vertical;

  word-break: break-all;
}
